<script>var pageType = 'product-page';</script>

@{
    ViewBag.Title = "Product";
}

<div class="jumbotron">
    <h1>PRODUCT</h1>
</div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
